{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "eqeqeq": "off",
    "prettier/prettier": "error"
  }
}
